@namespace thuchanh.Shared
@inherits LayoutComponentBase
<div class="container-fluid">
<div class="row">
<header class="d-flex shadow-sm sidebar shadow justify-content-between align-items-center">
    <ul class="nav nav-pills">
        <li class="nav-item"><NavLink aria-current="page" ActiveClass="active" Match="NavLinkMatch.All" href="/">Change Car Color</NavLink></li>
        <li class="nav-item"><NavLink aria-current="page" ActiveClass="active" Match="NavLinkMatch.Prefix" href="/album1">Album 1 kbhome team building 2025</NavLink></li>
        <li class="nav-item"><NavLink aria-current="page" ActiveClass="active" Match="NavLinkMatch.Prefix" href="/album2">Album 2 kbhome team building 2025</NavLink></li>
        <li class="nav-item"><NavLink aria-current="page" ActiveClass="active" Match="NavLinkMatch.Prefix" href="/album3">Album 3 kbhome team buiding 2025</NavLink></li>
        <li class="nav-item"><NavLink aria-current="page" ActiveClass="active" Match="NavLinkMatch.Prefix" href="/album4">album 4 kbhome team buidling 2025</NavLink></li>
        <li class="nav-item"><NavLink aria-current="page" ActiveClass="active" Match="NavLinkMatch.Prefix" href="/album5">album 5 kbhome team building 2025</NavLink></li>
        <li class="nav-item"><NavLink aria-current="page" ActiveClass="active" Match="NavLinkMatch.Prefix" href="/album6">album 6 kbhome team building 2025</NavLink></li>
    </ul>

</header>
<section class="content col-md-9">
    @Body
</section>
</div>
</div>
